.profile {
  margin: 70px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 260px;

}

.profile__title {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0 0 80px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 260px;
  display: grid;
  grid-template-columns: 130px 120px;
  grid-template-rows: repeat(3 auto);
  flex-direction: column;
  row-gap: 15px;
  column-gap: 10px;
}

.profile__input-label {
  grid-column-start: 1;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  grid-column-start: 2;
  display: block;
  all: unset;
  margin: 0;
  padding: 0 0 2px;
  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus {
  border-bottom: 1px solid #4285F4;
}

.profile__border-line {
  display: flex;
  grid-column-start: 1;
  width: 260px;
  height: 1px;
  background-color: #424242;
}

.profile__edit-form-btn {
  all: unset;
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__save-form-btn {
  all: unset;
  display: block;
  border-radius: 3px;
  background: #4285F4;
  width: 100%;
  height: 45px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.profile__exit-btn {
  all: unset;
  display: block;
  margin: 0 auto;
  padding: 16px 0 0;
  color: #EE3465;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .profile {
    margin: 236px auto 269px;
    width: 396px;
  }

  .profile__title {
    padding: 0 0 96px;
  }

  .profile__fieldset {
    width: 410px;
    grid-template-columns: 141px 122px;
    column-gap: 147px;
  }

  .profile__border-line {
    width: 410px;
  }

  .profile__edit-form-btn {
    font-size: 13px;
  }

  .profile__save-form-btn {
    font-size: 14px;
  }

  .profile__exit-btn {
    font-size: 13px;
  }
}

  @media screen and (min-width: 1280px) {
    .profile{
      margin: 74px auto 70px;
      height: 67vh;
    }

    .profile__title {
      padding: 0 0 123px;
    }
  }
